body{background:#333 url(../images/background.jpg) top center fixed no-repeat;font:normal 14px/19px 'Cabin', helvetica, sans-serif;color:#24282c;font-weight:200;margin:0;padding:0;}
#container{width:810px;display:block;margin:-5px auto 0;background:#fff;padding-top:5px;position:relative;}
#main{position:relative;}
.banner-mobile{display:none;}
header {height:36px;background:transparent url(../images/nav_back.png) top left no-repeat;margin-top:5px;position:relative;}
header .logo{position:absolute;top:0;left:43px;height:36px;background:#15234a;}
.fixed-nav{position:fixed;width:810px;background:transparent url(../images/nav_back.png) top left no-repeat;display:none;z-index:2;margin-top:-5px;}
.fixed-nav .logo{position:absolute;top:0;left:43px;height:36px;background:#15234a;}
header .banner{position:absolute;left:48px;top:41px;}
nav {text-align:right;line-height:36px;}
nav a {color:#fff;font:normal 14px/36px 'Cabin', helvetica, sans-serif;text-transform:uppercase;text-decoration:none;margin-right:30px;margin-left:40px;}
nav a:last-child {margin-right:45px;}
.kurt{position:absolute;left:-365px;top:95px;width:97%;}
.cmy-with-icons {left:345px;position:relative;margin-top:32px;margin-bottom:10px;}
p {font:normal 14px/19px 'Cabin', helvetica, sans-serif;color:#24282c;font-weight:200;}
.looking-for{width:315px;left:465px;position:relative;}
.blue{color:#408cd9;}
.green{color:#9ca96c;}
.bird{vertical-align:-3px;}
h4{font:600 14px/19px 'Ubuntu', arial, sans-serif;text-transform:uppercase;margin-top:45px;}
h4#prizes{margin-top:0;padding-top:0px;}
.prizes{width:410px;left:345px;position:relative;}
.nominate{left:345px;position:relative;width:410px;}
h4#entry.nominate{padding-top:35px;margin-top:25px;}
h4.blue.nominate{margin-top:20px;}
.nominate input[type=radio]{margin:0 5px 0 30px;}
.nominate input[type=radio]:first-child{margin:0 5px 0 0;}
form.nominate{margin-top:20px;display:block;width:450px;position:relative;}
form.nominate div{float:left;width:210px;top:0;position:relative;margin-right:13px;}
form.nominate div:last-child{margin-right:0;}
form.nominate input[type=text]{width:183px;height:36px;border-radius:5px;border:none;background:#e5e3e3;margin-bottom:13px;border:1px solid #dad8d8;padding:0 10px;font-family:'Cabin', helvetica, sans-serif;font-size:12px;font-weight:400;color:#666 !important;}
form.nominate textarea{width:166px;height:221px;border-radius:5px;border:none;background:#e5e3e3;margin-bottom:10px;border:1px solid #dad8d8;margin-bottom:5px;padding:10px;font-family:'Cabin', helvetica, sans-serif;font-size:12px;font-weight:400;color:#666 !important;}
form.nominate input[type=submit]{width:164px;background:#5792cd;height:40px;border:none;font:bold 14px/36px 'Ubuntu', arial, sans-serif;color:#003e7e;text-transform:uppercase;display:block;cursor:pointer;}
form.questionnaire fieldset{border:none;width:350px;height:190px;margin:10px;float:left;position:relative;}
form.questionnaire textarea{width:350px;height:85px;position:absolute;bottom:0;border-radius:5px;border:none;background:#e5e3e3;margin-bottom:10px;border:1px solid #dad8d8;margin-bottom:5px;padding:10px;font-family:'Cabin', helvetica, sans-serif;font-size:12px;font-weight:400;color:#666;}
form.questionnaire input[type=submit]{width:164px;background:#5792cd;margin:15px;height:40px;border:none;font:bold 14px/36px 'Ubuntu', arial, sans-serif;color:#003e7e;text-transform:uppercase;display:block;cursor:pointer;}
form.questionnaire input[type=text]{width:183px;height:36px;border-radius:5px;border:none;background:#e5e3e3;margin-bottom:13px;border:1px solid #dad8d8;padding:0 10px;font-family:'Cabin', helvetica, sans-serif;font-size:12px;font-weight:400;color:#666 !important;}
h4#judges.judges{margin-bottom:25px;padding-top:35px;margin-top:0;}
.judges{margin-left:50px;}
.judges .panel{width:715px;color:#333;line-height:18px;}
.judge{float:left;margin-left:49px;}
.judge:first-child{margin:0;}
.judge h5{font:bold 12px/15px 'Cabin', arial, sans-serif;color:#666;margin:10px 0;}
.judge p{font:normal 11px/13px 'Cabin', arial, sans-serif;color:#666;}
.partner{margin-left:50px;margin-top:35px;}
img.partner{margin-top:0;margin-bottom:40px;}
h4.partner{margin-bottom:0;}
#nav-ios{display:none;}
footer{background:#333;padding:25px 50px;color:#999;}
footer h4{margin-top:0;}
footer strong{margin-top:25px;}
footer p{color:#999;margin-top:5px;margin-bottom:25px;font-size:12px;}
footer p a{color:#fff;text-decoration:none;}

@media screen and (min-width: 768px) and (max-width: 1024px){
  body{
    background:url(../images/background-1024.jpg) top center fixed no-repeat;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) and (max-height: 900px){
  body{
    background:url(../images/background-1440.jpg) center -300px fixed no-repeat !important;
  }
}

@media screen and (min-width: 1441px) and (max-width: 1600px){
  body{
    background:url(../images/background-1600.jpg) top center fixed no-repeat;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2){
  *{max-width:320px !important;}
  body{background:#fff;width:100% !important;padding:0;margin:0;color:#24282c;}
  img{max-width:100% !important;}
  p{color:#24282c;}
  #container{width:100% !important;max-width:100% !important;padding:0;}
  .fixed-nav{width:320px !important;}
  header{background:none;background-color:#15234a;height:25px;margin:0;width:320px !important;}
  nav{text-align:left!important;width:100% !important;line-height:22px;display:block;margin-left:7px;}
  nav a{margin:0 25px 0 0;font-size:11px !important;line-height:22px;font-weight:bold;}
  nav a:last-child{margin:0;}
  .kurt{display:none;}
  .banner{display:none;}
  .banner-mobile{display:block;width:100% !important;}
  .cmy-with-icons{left:0;margin:20px auto 25px; position:relative;display:block;max-width:93% !important;}
  .find-us{display:none;}
  .looking-for, .prizes, .nominate, .judges, .judges .panel, .judge, .partner{left:0;max-width:95% !important;color:#24282c;font-size:11px;margin:0 auto;}
  h4{margin-top:45px !important;margin-bottom:15px !important;}
  h4.blue{margin-top:15px !important;margin-bottom:10px !important;color:#408cd9 !important;}
  form.nominate div{display:block;float:none;width:100% !important;}
  form.nominate div input[type=text], form.nominate div input[type=submit], form.nominate div textarea{
    border-radius:2px;
    display:block;
    margin:0 auto 10px;
    -webkit-appearance: none;
    width:93% !important;
  }
  form.nominate div input[type=submit]{
    width:100% !important;
  }
  .judges{margin:0 auto;}
  .judge:nth-child(odd){margin-left:33px;margin-right:45px;}
  .judge h5{margin-bottom:5px !important;}
  .judge p{margin-top:5px !important;margin-bottom:40px !important;}
  .judge:nth-child(5){margin-left:104px !important;}
  img.partner{margin-left:20px !important;}
  #nav-ios{display:none;background-color:#15234a;height:25px;width:100% !important;margin:0 !important;bottom:0 !important;}
  #nav-ios a:first-child{margin-left:5px;}
  footer{background:#333;padding:15px;color:#999;}
  footer h4{margin-top:0 !important;}
  footer strong{margin-top:25px;}
  footer p{color:#999;margin-top:5px;margin-bottom:25px;font-size:11px;}
  footer p a{color:#fff;text-decoration:none;}
}